.forgeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 70vh;
  height: 100%;
}

.forgeContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4.1rem;
  gap: 2rem;
  border-radius: 15rem;
  width: 100%;
  margin-bottom: 10rem;
  max-width: 57rem;
  border: 1px solid rgb(10, 212, 212);
  background-color: rgb(1, 56, 56);
  overflow: visible;
}

.forgeFlash1 {
  content: '';
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 15rem;
  border-right: 2px solid rgb(255, 255, 255);
  overflow: visible;
}

.forgeFlash2 {
  content: '';
  position: absolute;
  left: 2rem;
  top: 3.3rem;
  width: 7rem;
  height: 7rem;
  border-radius: 15rem;
  border-left: 2px solid rgb(255, 255, 255);
  overflow: visible;
}

.forgeFlash2::after {
  content: '';
  position: absolute;
  left: 2rem;
  top: -.2rem;
  width: 1rem;
  height: .1rem;
  transform: rotate( 20deg);
  background-color: white;
}

.forgeFlash2::before {
  content: '';
  position: absolute;
  left: 2.1rem;
  top: .3rem;
  width: 1rem;
  height: .1rem;
  transform: rotate(-50deg);
  background-color: white;
}

.forgeFlash1::after {
  content: '';
  position: absolute;
  right: 2rem;
  bottom: -.2rem;
  width: 1rem;
  height: .1rem;
  transform: rotate( 20deg);
  background-color: white;
}

.forgeFlash1::before {
  content: '';
  position: absolute;
  right: 2.1rem;
  bottom: .4rem;
  width: 1rem;
  height: .1rem;
  transform: rotate(-50deg);
  background-color: white;
}

.forgeName {
  position: absolute;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(10, 212, 212);
  padding: .2rem 0;
  width: 80%;
  border-radius: 15rem;
}

.forgeTopBottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.forgeMouthCon {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: min-content;
  justify-content: center;
  min-width: 4rem;
}

.infoCon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.infoCon span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(1rem, 5.7vw, 4rem);
  height: 3rem;
  background-color: gray;
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid black;
}

.infoContent {
  position: absolute;
  display: grid;
  grid-template-columns: 60% 35%;
  justify-content: flex-start;
  align-items: flex-start;
  top: 6.5rem;
  height: 8rem;
  padding: 0rem .3rem .3rem .3rem;
  background-color: rgb(12, 95, 95);
  border-radius: 1rem;
  z-index: 3;
}

.info {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: 100%;
}

.info h4 {
  height: 3rem;
  margin: 0 .3rem;
  cursor: pointer;
  width: min-content;
}

.info p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  margin: 0;
}

.state {
  display: flex;
  flex-direction: column;
  padding-top: .2rem;
  height: 100%;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
}

.quantity i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.bookMark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .1rem;
}

.bookMark i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.bookMark i:nth-child(2) {
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 24px;
  height: 24px;
}

.bookMark i:nth-child(1) {
  position: relative;
}

.ibookMark {
  color: white;
}

.inoBookMark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.bokkMarkBorder {
  position: absolute;
}

.infoDis {
  position: absolute;
  display: flex;
  left: -.3rem;
  right: 0;
  top: -.3rem;
  bottom: 0;
  padding: .5rem;
  width: 165px !important;
  height: 117px;
  border-radius: 1rem;
  word-break: break-word;
  background-color: rgb(12, 99, 70);
}

.infoCon span[after-show ='true']::after{
  position: absolute;
  content: attr(data-content);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: clamp(1rem, 5.7vw, 3.9rem);
  background-color: rgb(6, 207, 207);
  z-index: 1;
}

#bottomL div div,
#bottomR div div {
  top: initial;
  bottom: 0rem;
}

.infoContent div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.infoContent p {
  display: inline-block;
  width: max-content;
  max-width: 20rem;
  margin: .3rem;
}

.infoEditContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(24, 24, 24, 0.5);
  z-index: 9;
}

.infoEditTitle {
  color: black;
  font-weight:500;
}

.infoEditContent {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15rem;
  left: 45%;
  right: 50%;
  width: max-content;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 2px rgb(189, 189, 189);
  border-radius: 1rem;
  padding: 1rem;
  gap: .6rem;
  z-index: 4;
}

.infoEdit {
  display: flex;
  justify-content: space-between;
}

.infoEditInput {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 60%;
  color: black;
}

.editDetails textarea {
  font-size: 1.2rem;
}

.infoEditBookmark {
  display: flex;
  flex-direction: column;
  width: 35%;
  color: black;
  gap: 1rem;
}

.infoEditBookmark i {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.infoEditBookmark i:nth-child(2) *:nth-child(2) {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
}

.infoEditBookmark i:nth-child(2):after {
  content: '';
  display: flex;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  right: 0;
}

.infoBookMark {
  position: absolute;
  font-size: 1.5rem;
  right: 0;
}

.infoNoBookMark {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  right: 0;
}

.bookMarkBorder {
  position: absolute;
  color: black;
  font-size: 1.5rem;
  right: 0;
}

.infoEditInput div {
  display: flex;
  width: min-content;
}

.infoEditInput label {
  width: 4.5rem !important;
}

.infoEditInput input {
  width: 5rem;
  padding: .2rem 0 .2rem .3rem
}

.editButton {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 1rem;
}

.editButton div {
  display: flex;
  gap: 1rem;
}

.editButton button,
.editButton input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border: 1px solid rgb(7, 175, 119);
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

.editDetails {
  display: flex;
  flex-direction: column;
  color: black;
}

.editLeadDatabase {
  color: black;
  cursor: pointer;
  font-size: .8rem;
}

@media only screen and (min-width: 540px) and (max-width: 1080px) {
  .forgeContainer {
    justify-content: center;
  }

}

@media only screen and (max-width: 540px) {
  .forgeContainer {
    justify-content: center;
  }
}