.qomers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  padding-right: 12rem;
}

.qomers h1 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  font-size: 3rem;
  padding-top: 1.5rem;
  width: 100%;
  color: black;
}

.qomersContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  padding-top: 3rem;
}

.markedList {
  color: black;
  text-align: end;
  max-width: 80rem;
  width: 90%;
}

.markedList div {
  color: black;
}

@media only screen and (min-width: 540px) and (max-width: 1080px) {
  .qomers {
    padding-right: 0;
  }

  .qomersContainer {
    justify-content: center;
  }
}

@media only screen and (max-width: 540px) {
  .qomers {
    padding-right: 0;
  }

  .qomers h1 {
    font-size: 2.5rem;
  }
}