.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 4rem;
  padding-left: 12rem;
}

.userTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid ;
  color: black;
}

.userTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.userTop p {
  width: 32%;
  color: black;
}

.userTop div {
  width: 32%;
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 70rem;
}

.allUser {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
}

.userContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10%;
  padding: .5rem;
  min-height: 4rem;
  background-color: white;
}

.userDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.userDetails * {
  margin: 0;
  color: black;
}

.userDetails P {
  width: 32%;
}

.userOption {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 32%;
}

.userOption button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  padding: .3rem .8rem;
  color: black;
  background-color: white;
}

.userForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  gap: 1rem;
}

.userForm div {
  display: flex;
  gap: .5rem;
}

.userForm div label {
  width: 3rem;
}

.userForm div input {
  width: 80%;
}

.userForm input:nth-child(3) {
  width: 7.7rem;
  height: 2rem;
}

.userTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 3rem;
  padding: 0 .5rem;
}

.userTop p {
  color: white;
}

.userTop div {
  display: flex;
  justify-content: center;
  
}

.userTop p:nth-child(3) {
}

.addUser {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.addUser button {
  width: 12rem;
  height: 2.5rem;
  color: black;
  border: none;
  background-color: var(--color-primary);
}

@media only screen and (min-width: 540px) and (max-width: 1080px) {
  .user {
    padding-left: 0;
  }

  .userContainer {
    flex-direction: column
  }
}

@media only screen and (min-width: 0px) and (max-width: 540px) {
  .user {
    padding-left: 0;
  }

  .userDetails {
    flex-direction: column;
  }

  .userContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}