.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-left: 12rem;
}

.userTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid ;
  color: black;
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 70%;
  max-width: 40rem;
}

.userContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10%;
}

.userDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.userDetails * {
  margin: 0;
  color: black;
}

.userOption {
  display: flex;
  gap: 1rem;
  min-width: 8rem;
}

.userOption button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  padding: .3rem .8rem;
  color: black;
  background-color: transparent;
}

.addUser {
  width: 140px;
  height: 35px;
  background: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.userForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  gap: 1rem;
}

.userForm div {
  display: flex;
  gap: .5rem;
}

.userForm div label {
  width: 3rem;
}

.userForm div input {
  width: 80%;
}

.userForm input:nth-child(3) {
  width: 7.7rem;
  height: 2rem;
}

.adduserContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.253);
  gap: .5rem;
  padding: 0 1.5rem;
  border-radius: 1rem;
  margin-top: 4rem;
}

.adduserContent div {
  display: flex;
  flex-direction: column;
  color: black;
  gap: .3rem;
  font-size: 1.2rem;
}

.adduserContent div input {
  width: 20rem;
  height: 2rem;
  font-size: 1.3rem;
  padding-left: .6rem;
}

.adduserContent input:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border: 1px solid rgb(7, 175, 119);
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}