.userManage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 4rem;
  padding-right: 12rem;
}

.userManageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid ;
  color: black;
}

.userManageTop {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.userManageTop p {
  display: flex;
  flex-direction: row-reverse;
  width: 32%;
  color: black;
}

.userManageTop div {
  display: flex;
  width: 15%;
}

.userManageTop div p {
  display: flex;
  width: 100%;
}

.userManageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 70rem;
}

.allUser {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
}

.userManageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10%;
  padding: .5rem 1rem;
  min-height: 4rem;
  background-color: white;
}

.userManageDetails {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.userManageDetails * {
  margin: 0;
  color: black;
}

.userManageDetails P {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  width: 32%;
}

.userManageOption {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 15%;
}

.userManageOption button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  padding: .3rem .8rem;
  color: black;
  background-color: white;
  border: none;
}

.userManageForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  gap: 1rem;
}

.userManageForm div {
  display: flex;
  gap: .5rem;
}

.userManageForm div label {
  width: 3rem;
}

.userManageForm div input {
  width: 80%;
}

.userManageForm input:nth-child(3) {
  width: 7.7rem;
  height: 2rem;
}

.userManageTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 3rem;
  padding: 0 1rem;
}

.userManageTop p {
  color: white;
}

.userManageTop div {
  display: flex;
  justify-content: center;
  
}

.userManageTop p:nth-child(3) {
}

.addUser {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.addUser a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 12rem;
  height: 2.5rem;
  color: rgb(0, 0, 0);
  border: none;
  background-color: var(--color-primary);
}

@media only screen and (min-width: 540px) and (max-width: 1080px) {
  .userManage {
    padding-right: 0;
  }

  .userManageContainer {
    flex-direction: column
  }
}

@media only screen and (min-width: 0px) and (max-width: 540px) {
  .userManage {
    padding-right: 0;
  }

  .userManageContainer {
    width: 95%;
  }

  .userManageTop {
    padding: 0 .2rem;
  }

  .userManageTop div {

  }

  .userManageTop p {
    width: 32%;
  }
  .userManageTop div {
    min-width: 3rem;
    color: red;
  }

  .userManageOption {
    flex-direction: column;
    width: 15%;
    min-width: 3.5rem;
    gap: .2rem;
  }

  .userManageDetails {
    flex-wrap: nowrap;
  }

  .userManageContent {
    display: flex;
    gap: 1rem;
    padding: 0 .4rem;
  }

  .userManageDetails p {

  }
}