.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 4rem;
  padding-right: 12rem;
}

.userListTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid ;
  color: black;
}

.userListTop {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.userListTop p {
  display: flex;
  flex-direction: row-reverse;
  width: 45%;
  color: black;
}

.userListTop div {
  width: 32%;
}

.userListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  max-width: 70rem;
}

.allUserList {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
}

.userListContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10%;
  padding: .5rem 1rem;
  min-height: 4rem;
  background-color: white;
}

.userListDetails {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.userListDetails * {
  margin: 0;
  color: black;
}

.userListDetails P {
  display: flex;
  flex-direction: row-reverse;
  width: 45%;
}

.userListOption {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 32%;
}

.userListOption button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  padding: .3rem .8rem;
  color: black;
  background-color: white;

}

.addUserList {
  width: 140px;
  height: 35px;
  background: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.userListForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  gap: 1rem;
}

.userListForm div {
  display: flex;
  gap: .5rem;
}

.userListForm div label {
  width: 3rem;
}

.userListForm div input {
  width: 80%;
}

.userListForm input:nth-child(3) {
  width: 7.7rem;
  height: 2rem;
}

.adduserListContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: .5rem;
  padding: 0 1.5rem;
  margin-top: 2rem;
}

.adduserListContent div {
  display: flex;
  flex-direction: column;
  color: black;
  gap: .3rem;
  font-size: 1.2rem;
}

.userListTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 3rem;
  padding: 0 .5rem;
}

.userListTop p {
  color: white;
}

.userListTop div {
  display: flex;
  justify-content: center;  
}

@media only screen and (min-width: 540px) and (max-width: 1080px) {
  .addUserList {
  }
  
  .userList {
    padding-right: 0;
  }
  
  .userListContainer {
    flex-direction: column;
    min-width: 25rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 540px) {
  .userList {
    padding-right: 0;
  }

  .userListContainer {
    width: 95%;
  }

  .userListDetails {

  }

  .userListContent {
    display: flex;
    gap: 1rem;
  }
}