.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-left: 12rem;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 70rem;
}

.dataTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3rem;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.dataContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dataForgeName {
  display:inline-block;
  color: black;
  margin-top: 1rem;
}

.dataInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 5%;
  margin-top: 1rem;
}

.dataInfoContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 3rem;
  padding: .2rem .7rem .2rem 0rem;
  border: 2px solid black;
  background-color: rgb(20, 109, 79);
  overflow: visible;
}

.dataInfoContent div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dataInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataInfo i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  cursor: pointer;
}

.dataEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem 0rem 0rem .7rem;
  font-size: 1rem;
  color: black;
}

.dataEdit p {
  display: flex;
  height: min-content;
  color: white;
}

.dataInfoContent h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  color: rgb(255, 255, 255);
}

.dataInfoContent:nth-child(2) {
  background-color: rgb(9, 73, 52);
}